@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background-image: url("bg.jpg");
  font-family: 'Playfair Display', serif;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  margin: 0;
  padding-right: 20vw;
  padding-top: 12vh;
  position: relative;
}
.container {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  max-width: 100%;
  background-color: #a6a2a29d;
  padding: 2vw;
  align-content: center;
  position: relative;
}
.h1 {
  padding: 5px 5px;
}
.h2{
  font-size: 1.5vw;

  font-family: inherit;
  
}

.btn {
  background-color: #cfd2cd;
  color: #000;
  size: 10vw;
  padding: 1vh;
  margin: 2vh;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  font-family: inherit;
  text-align: center;
  position: relative;
}
.btn:hover {
  background-color: #847577ab;
}

.mainDiv
{
  display:flex;
  background-color: #a6a2a29d;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:500px;
  height: 90vh;
  border: 1px solid black ;
  border-radius:8px;
  justify-content: flex-start;
  flex-direction:column;
  /* align-items: center; */
  /* padding:2%; */
}
.bookTemplate{
  display:flex;
  background-color: rgba(185, 185, 185, 0.773);
  background-size: cover;
  height: 5vh;
  border: 1px solid rgba(155, 108, 20, 0.774) ;
  border-radius:5px;
  justify-content: space-around;
  flex-direction:row;
  align-items: center;
  /* padding: 0% 2%; */
  margin: 1% 2% 0% 2%;
}
.bookName{
  font-weight: bolder;
}